@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
}

main {
    display: grid;
    justify-content: center;
}

/* ============================
    /*navigation Bar Desgn*\
=============================== */

#header {
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.header-container .logo img {
    width: 40px;
    margin-right: 16px;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar ul li {
    list-style: none;
    margin-right: 36px;
}

.navbar ul .last-child {
    margin-right: 0;
}

.last-child img {
    position: relative;
    top: 4px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
}

.navbar ul li:hover {
    border-bottom: 3px solid #fff;
}

/* ============================
    /*top player Desgn*\
=============================== */
.player-section {
    width: 870px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 36px;
    margin-bottom: 21px;
}

.top-player {
    margin-left: 33px;
    margin-top: 33px;
}

.player-heading, .blog-heading {
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
}

.player>a {
    text-decoration: none;
    color: #000000;
}

.player>img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

/*===================
    strait line
    ================= */

hr {
    border: 1px solid #D1D1D1;
    margin: 30px;
    margin-bottom: 0px;
}

/*====================
     Top Blog design 
     =================*/

.blog-container {
    margin-left: 30px;
    margin-top: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    margin-bottom: 42px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog>img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog-info>p {
    color: #9F9F9F;
}

.blog-info>p>a {
    text-decoration: none;
    color: #562EFF;
}

/* =================
    course design 
===================*/
.course-section {
    width: 870px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 28px;
}

.top-course {
    margin-top: 23px;
    margin-left: 33px;
    margin-right: 33px;
}

.top-course>h1 {
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
    margin-left: 6px;
    grid-column-gap: 23.5px;

}

.course {
    width: 252.4px;
    border: 0;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    margin-bottom: 23px;
}

.course>img {
    width: 224px;
    height: 104px;
}

.course-details {
    width: 224px;
}

.course-details>h2 {
    font-weight: 500;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.course-details>p>a {
    text-decoration: none;
    font-size: 14.6913px;
    color: #ED6B4F;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star-half-alt.empty {
    color: #FFC014;
    font-size: 12px;
}

.course-info>p {
    color: #A2A2A2;
}

.fa-star.empty {
    color: #AEAEAE;
    font-size: 12px;
}

.course-duration {
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    padding: 5px;
}